@layer reset;

@layer reset {
  *{
    box-sizing: border-box;
  }
  html{
  --text: light-dark(#21150d,#f2e6de) ;
  --background: light-dark(#faf4f0,#0f0905);
  --primary: light-dark(#684027,#d8b097);
  --secondary: light-dark(#92d48c,#31732b);
  --accent: light-dark(#43b173,#4ebc7d);
    color-scheme:light dark;
  color: var(--text);
  background-color:var(--background);
  }
    html[data-theme="light"]{
      color-scheme: light;
    }
    html[data-theme="dark"]{
      color-scheme: dark;
    }
  h2,
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  h1,h2,h3,p{
    margin:0;
  }
  p{
    text-wrap: pretty;
  }
  p,
  li {
    line-height: 1.5rem;
  }
  h1{
    view-transition-name: header;
    margin-block-end: 0.5rem;
  }
  main{
    view-transition-name:main;
  }
}
