<section>
  <p>Made in Bogotá 🇮🇩</p>
</section>
<style>
  section {
    position: absolute;
    bottom: 50px;
    position: relative;
    width: 100vw;
    text-align: center;
  }
  p {
    font-size: 0.75rem;
    display: inline-block;
    font-weight: bold;
  }
</style>
