<section>
  <p>Made in Bogotá 🇮🇩</p>
</section>
<style>
  section {
    position: relative;
    text-align: center;
    place-content: center;
    place-items: center;
  }
  p {
    font-size: 0.75rem;
    display: inline-block;
    font-weight: bold;
  }
</style>
